*{
    margin:0;
    padding:0;
}

.main{
    width: 100%;
    background: linear-gradient(to top,black)50%,rgba(0,0,0,5),url(https://thumbs.dreamstime.com/b/beautiful-golden-autumn-scenery-trees-golden-leaves-sunshine-scotland-united-kingdom-beautiful-golden-autumn-124278811.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
   height: left;
  margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}